html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Hauscrapp
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='/assets/css/main.css')  
    if env.isDevelopment()
      script(src='http://localhost:35729/livereload.js?snipver=1')

  body
    .container-fluid
        div.email-modal
          .content
            form#email-form
              h3 Enviar Correo
              div
                input#email(type='text', placeholder='Correo Cliente')
              div
                input#name(type='text', placeholder='Nombre Cliente')
              div
                | Cliente es Hombre
                input(type='radio' name="gender" value="M" checked)
              div
                | Cliente es Mujer
                input(type='radio' name="gender" value="F")
              div
                button(type='button') Enviar
              div#close-modal(style='position: absolute; top: 20px; right: 20px; cursor: pointer;') X
        
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href='/') Hauscrapp
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')
                  | Más Recientes
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Plataforma
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/query?platform=YAPO') YAPO
                  a.dropdown-item(href='/query?platform=PORTAL') PORTAL
                  a.dropdown-item(href='/query?platform=ECON') ECON
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Por Región
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/query?region=met') Región Metropolitana
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Por Rubro
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/query?propertyType=commercial') Comercial
              li.nav-item
                a.nav-link(href='/query?propertyType=commercial&region=met')
                  | Comercial RM
              li.nav-item
                a.nav-link(href='/query?region=met&platform=PORTAL')
                  | Portal RM
              li.nav-item
                input.form-control#find-email(type='text', placeholder='Buscar Correo')
                button.btn.btn-primary#submit-find-email
                  | Buscar
              
            //- form.form-inline.my-2.my-lg-0
            //-   input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
            //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        .row
            .col-md-8
                table.table
                  thead.thead-dark
                    tr
                      th(scope='col') Plataforma
                      th(scope='col') Fecha
                      th(scope='col') Tipo Propiedad
                      th(scope='col') Comuna, Region
                      th(scope='col') Precio
                      th(scope='col') Descripcion
                      th(scope='col') Contacto
                  tbody
                    //- each l in listings
                    //-   tr.listing
                    //-     th= l.platform
                    //-     th= helpers.dateFromObjectId(l._id)
                    //-     th= l.propertyType
                    //-     td= l.county + ", " + l.region
                    //-     td= helpers.priceFormatter(l.price)
                    //-     td= l.description
                    //-     td
                    //-       div= l.contactName
                    //-       div= l.email
                    //-       div= l.phoneNumber

                    //-     td
                    //-       a(href=helpers.getFullUrl(l)) Ver
                div.text-center
                  button.btn-primary.btn-lg#load-more-btn(style="cursor: pointer") Cargar más


    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(type='text/javascript', src='/assets/js/tableRendering.js')
    script(type='text/javascript', src='/assets/js/emailSearch.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')