.email-modal {
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}

.email-modal .content {
	position: relative;
	width: 60%;
    background-color: white;
    margin: 0 auto;
    padding: 30px 20px;
    margin-top: 30px;
}

.email-modal input[type='text'] {
	width: 300px;
}

li.nav-item input, li.nav-item button {
	 display: inline;
}

li.nav-item input {
	width: auto;
	margin-right: 10px;
}